@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.title span {
  display: inline-block;
  padding: 0 40px;
  background-image: url(../images/decor-line.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 5.5px;
}

.logo svg {
  transition: color 0.3s ease;
}

.logo:hover svg {
  color: #00a9bd;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__item {
  position: relative;
  font-size: 18px;
}

.menu__item::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s;
}

.menu__item:hover::after {
  opacity: 1;
}

.menu__item:hover .menu__link {
  opacity: 0;
}

.menu__link {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

.social {
  display: flex;
  align-items: center;
  gap: 44px;
}

.social__link {
  display: inline-block;
}

.social__link svg {
  transition: color 0.3s ease, transform 0.3s ease;
}

.social__link:hover svg {
  color: #00a9bd;
  transform: scale(1.25);
}

.header__content {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.header__content-inner {
  min-height: calc(100vh - 119px);
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-top: 22vh;
  font-weight: 700;
  font-size: 128px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.header__booking {
  align-self: center;
}

.booking {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #00a9bd;
  border: none;
  padding: 22px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.booking:hover {
  color: #000;
  background-color: #ffe093;
}

.header__info {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: auto;
  margin-bottom: 8vh;
}

.header__info-item {
  position: relative;
  padding-left: 35px;
  font-size: 24px;
  font-weight: 500;
}

.header__info-item span {
  font-size: 32px;
  font-weight: 700;
}

.header__info-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url(../images/info-ico.svg);
}

.tour-info {
  padding-top: 150px;
}

.tour-info__inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.imagebox-two {
  grid-column: span 2;
}

.tour-info__content {
  grid-column: span 3;
}

.tour-info__addcontent {
  grid-column: span 2;
}

.tour-info__images-box {
  position: relative;
}

.tour-info__img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-info__img-descr {
  position: absolute;
  left: 29px;
  bottom: 15px;
  font-size: 16px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  width: 212px;
  text-align: center;
}

.tour-info__content {
  padding-left: 100px;
}

.tour-info__title {
  text-align: left;
  margin-bottom: 30px;
}

.tour-info__addcontent {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.tour-info__addcontent-title {
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.tour-info__addcontent-title span {
  display: inline-block;
  padding: 37px 69px 17px 53px;
  background-image: url(../images/decor-oval.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tour-info__addcontent-text {
  max-width: 390px;
  padding-left: 70px;
  margin-bottom: 30px;
}

.tour-info__booking {
  margin-top: auto;
  align-self: flex-start;
  margin-left: 70px;
}

.tour-program {
  padding: 150px 0 120px;
}

.tour-program__title {
  margin-bottom: 50px;
}

.tour-program__list {
  display: grid;
  gap: 10px 0;
  counter-reset: number;
}

.tour-program__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tour-program__item:nth-child(even) .tour-program__content {
  order: 1;
  padding-right: 30px;
}

.tour-program__content {
  padding-left: 50px;
  padding-right: 90px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.tour-program__content-box {
  position: relative;
  counter-increment: number;
}

.tour-program__content-box svg {
  color: #ffe093;
  transition: color 0.2s ease;
}

.tour-program__item:hover svg {
  color: #00a9bd;
}

.tour-program__content-box::after {
  content: "0" counter(number);
  font-size: 60px;
  bottom: 15%;
}

.tour-program__item:nth-child(n + 10) .tour-program__content-box::after {
  content: counter(number);
}

.tour-program__content-box::before {
  content: "Day";
  font-size: 32px;
  top: 20%;
}

.tour-program__content-box::after,
.tour-program__content-box::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.slider {
  background-color: #b6e8ee;
  padding: 50px 0 65px;
  text-align: center;
}

.slider__title {
  margin-bottom: 35px;
}

.slider__img {
  display: inline-block;
  border-radius: 25px;
}

.slider__button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #00a9bd;
  transition: color 0.2s ease;
}

.button-prev {
  left: 0;
}

.button-next {
  right: 0;
}

.slider__button:hover {
  color: #ffe093;
}

.tours {
  padding: 150px 0 100px;
}

.tours__title {
  margin-bottom: 50px;
}

.tours__list {
  display: flex;
  gap: 35px;
}

.tours__item {
  position: relative;
  width: 180px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.5s;
}

.tours__item.tours__item--active {
  width: 860px;
}

.tours__item-img {
  height: 800px;
  border-radius: 35px;
  object-fit: cover;
}

.tours__item-title {
  position: absolute;
  bottom: 115px;
  left: 0;
  right: 0;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s;
}

.tours__item--active .tours__item-title {
  opacity: 1;
}

.tours__info-list {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 55px;
}

.tours__item--active .tours__info-list {
  left: 32px;
}

.tours__info-flag {
  padding: 24px 52px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 35px;
}

.tours__info-flag img {
  max-width: 30px;
  height: 30px;
}

.tours__info-date,
.tours__info-price {
  font-size: 24px;
  font-weight: 500;
  padding-left: 40px;
  position: relative;
}

.tours__info-date::before,
.tours__info-price::before {
  content: "";
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url(../images/info-ico.svg);
}
